
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 6px;
  color: #7a8189;
  background-color: #f2f2f2;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
}